<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Online Academy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link item" href="/">Trang Chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Khóa Học
                        </a>
                        <ul class="dropdown-menu">
                            {{#each dropdown_categories}}
                            <li class="dropdown-submenu">
                                <span class="dropdown-item disabled">
                                    {{this.name}}
                                </span>
                                <ul class="dropdown-menu ">
                                    {{#each this.subCategories}}
                                    <li><a class="dropdown-item"
                                            href="/category/byCat?id={{this.id}}">{{this.category_name}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/courses">Tất Cả Khóa Học</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Danh Mục
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/categories/new">Mới Nhất</a></li>
                            <li><a class="dropdown-item" href="/categories/popular">Phổ Biến</a></li>
                            <li><a class="dropdown-item" href="/categories/free">Miễn Phí</a></li>
                        </ul>
                    </li>
                    {{#if user}}
                    {{#if (eq user.permission 2)}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-warning fw-semibold" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-chalkboard-teacher me-1"></i>Instructor
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/instructor">
                                <i class="fas fa-tachometer-alt me-2"></i>Instructor Dashboard
                            </a></li>
                            <li><a class="dropdown-item" href="/instructor/profile">
                                <i class="fas fa-user-edit me-2"></i>My Profile
                            </a></li>
                            <li><a class="dropdown-item" href="/instructor/courses/create">
                                <i class="fas fa-plus-circle me-2"></i>Create Course
                            </a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                    {{/if}}
                </ul>
                
                <!-- Search Form -->
                <form class="d-flex ms-3 me-3" action="/courses/search" method="GET">
                    <input class="form-control me-2" type="search" name="q" placeholder="Tìm kiếm khóa học..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                
                <ul class="navbar-nav">
                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle user-profile" href="#" role="button"
                            data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i> {{user.name}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/account/profile">Hồ Sơ</a></li>
                            {{#if (eq user.permission 0)}}
                                <li><a class="dropdown-item" href="/admin">Trang admin</a></li>
                            {{else if (eq user.permission 2)}}
                                <li><a class="dropdown-item" href="/teacher">Khóa Học Của Tôi</a></li>
                            {{else}}                            
                            <li><a class="dropdown-item" href="/enrollment/my-courses">
                                <i class="bi bi-book"></i> Khóa Học Của Tôi
                            </a></li>
                            <li><a class="dropdown-item" href="/courses/watchlist">
                                <i class="bi bi-heart-fill text-danger"></i> Danh Sách Yêu Thích
                            </a></li>
                            <li><a class="dropdown-item" href="/feedback/my-feedbacks">
                                <i class="bi bi-star-fill text-warning"></i> Đánh Giá Của Tôi
                            </a></li>
                            {{/if}}

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/account/signout">
                                <i class="bi bi-box-arrow-right"></i> Đăng Xuất
                            </a></li>
                        </ul>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link login-btn" href="/account/signin">Đăng Nhập</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>